@charset "UTF-8";

#mainPageTitle {
	padding: 265px 0 45px;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	letter-spacing: -0.08em;
	color: #464646;
}

#adminLinks {
	margin-bottom: 76px;
	text-align: center;
}

#adminLinks li {
	margin: 0px 5px;
}

#adminLinks a{
	display: block;
	width: 101px;
	height: 101px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	font-size: 0;
}

#adminLinks li:first-child {
	background-image: url('../img/main/admin_main_ico1.jpg');
}

#adminLinks li:nth-child(2) {
	background-image: url('../img/main/admin_main_ico2.jpg');
}

#adminLinks li:nth-child(3) {
	background-image: url('../img/main/admin_main_ico3.jpg');
}

#adminLinks li:nth-child(4) {
	background-image: url('../img/main/admin_main_ico4.jpg');
}
.img_box {
	width:175px;
	height:246px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

#bookName {
	margin-top:15px;
	width:180px;
}

#bookWriter {
	margin-top:15px;
	width:130px;
}

ul li #bestBookInfo {
	list-style-type: none;
	float: left;
}

#bestBookInfo {
	margin: 0 20px 40px 0;
}

.mainPageSubTitle {
	margin: 0 0 15px 15px;
	font-size: 20px;
	color: #464646;
}