@charset "UTF-8";

/* 페이지 제목 */
#pageTitle {
	padding-top: 225px;
	font-size: 40px;
	font-weight: bold;
	color: #1C6931;
	text-align: center;
	letter-spacing: -0.08em;
}

/*** 검색 폼 ***/
/* 여러항목 검색 폼 */
.searchForm {
	margin: 0px auto 25px;
}

.searchForm.type1 {
	width: 795px;
	margin-top: 30px;
}

.searchInputWrap {
	margin-bottom: 10px;
}

.searchInputWrap .label {
	width: 95px;
	padding-top: 18px;
}

.searchInputBox {
	width: calc(100% - 95px);
	height: 50px;
}

.searchInput {
	width: 100%;
	height: 100%;
	border-radius: 8px;
	border: 1px solid #ddd;
	padding: 0px 15px;
	box-sizing: border-box;
	color: #a8a8a8
}

.searchInput:focus {
	border-color: #a8a8a8;
}

.searchDate {
	width: 342px;
	padding-right: 70px;
	background: url('../img/icon-cal.png') no-repeat 300px 50%;
	cursor: pointer;
}

.searchInputBox .range {
	padding: 17px 0px 0px 3px;
}

.searchSelect {
	width: 230px;
	height: 100%;
	padding-left: 12px;
	border-radius: 8px;
	border: 0;
	background-image: url('../img/select-arrow.png');
	background-repeat: no-repeat;
	background-position: 200px 50%;
}

.searchSelect.dark {
	background-color: #eee;
}

.searchSelect.med {
	background-color: rgba(238, 238, 238, 0.7);
	margin: 0px 5px;
}

.searchSelect.light {
	background-color: rgba(238, 238, 238, 0.45);
}

.dateInputBox {
	position: relative;
	width: 342px;
	height: 100%;
}

.dateInputBox .clear {
	position: absolute;
	right: 50px;
	top: 50%;
	width: 19px;
	height: 19px;
	margin-top: -9px;
	background: url('../img/clear-btn.png') no-repeat center;
	border: none;
	outline: none;
}

/* 셀렉트 검색 폼 */
.searchForm.type2 {
	width: 700px;
	margin-top: 30px;
}

.rangeTabs li {
	width: 25%;
	height: 40px;
}

.rangeTabs a {
	display: block;
	line-height: 38px;
	border: 1px solid #eee;
	border-right: 0;
	box-sizing: border-box;
	background-color: rgba(238, 238, 238, 0.4);
	font-size: 12px;
	color: #a8a8a8;
}

.rangeTabs li:last-child a {
	border-right: 1px solid #eee;
}

.rangeTabs li.active a, .rangeTabs a:hover {
	background-color: #eee;
}

#viewWithinDates .searchInputBox {
	width: 100%;
}

#viewWithinDates .searchInput {
	width: 282px;
	background-position-x: 240px;
}

#selectSearch .searchSelect {
	width: 140px;
	background-color: rgba(238, 238, 238, 0.7);
	background-position-x: 116px;
	border: 1px solid rgba(168, 168, 168, 0.2);
	font-size: 13px;
	color: #636363;
}

#selectSearch .searchInput {
	width: 430px;
	margin-left: 10px;
}

#viewWithinDates .dateInputBox {
	width: 282px;
}

.searchForm.type2 .btn {
	width: 110px;
	font-size: 12px;
}

/*** 버튼 ***/
.searchBtnWrap {
	margin-top: 20px;
}

.btnWrap.viewBtns {
	margin-top: 30px;
}

.btn {
	width: 170px;
	height: 50px;
	border-radius: 36px;
	margin-right: 10px;
	font-size: 14px;
	font-weight: bold;
	border: 0;
	transition: all .2s;
}

.btn:last-child {
	margin-right: 0px;
}

a.btn {
	line-height: 50px;
}

.btn.green {
	background-color: #1C6931;
	color: #fff;
}

.btn.green:not(.disabled):hover {
	opacity: 0.7;
}

.btn.grey {
	background-color: #dfdfdf;
	color: #7d7d7d;
}

.btn.grey:not(.disabled):hover {
	opacity: 0.7;
}

/* 버튼 비활성화 */
.btn.disabled {
	opacity: 0.4;
	cursor: default;
}

/*** 상세페이지 ***/
#detailWrap {
	margin-top: 45px;
}

#detailWrap #bookImage {
	width: 200px;
	height: 300px;
	margin: 20px auto 0px;
	border: 1px solid #a8a8a8;
}

.detailTable table {
	table-layout: fixed;
	width: 100%;
	border-top: 2px solid #1C6931;
}

.detailTable>.text {
	margin: 40px 0px 12px 22px;
}

.detailTable th, .detailTable td {
	padding: 25px 34px;
	border-bottom: 1px solid rgba(28, 105, 49, 0.19);
	vertical-align: top;
}

.detailTable th {
	padding-left: 22px;
	background: rgba(28, 105, 49, 0.05);
	text-align: left;
}

.detailTable .text {
	line-height: 140%;
}

/* 등록/수정페이지 */
.detailInputTable .inputTh {
	padding-top: 28px;
}

.detailInputTable .inputTd {
	padding: 13px 0px 11px 20px;
}

.detailInputTable .inputTd>* {
	vertical-align: middle;
}

.detailInput, .detailSelect {
	height: 50px;
	border-radius: 8px;
	border: 1px solid #ddd;
	box-sizing: border-box;
	padding: 0px 13px;
}

.detailInput {
	width: 720px;
}

.detailInput:focus {
	border-color: #a8a8a8;
}

.detailInput.detailInputTitle {
	width: 470px;
}

.detailInput.detailTextArea {
	height: 244px;
	resize: none;
	outline: none;
	padding: 12px;
	font-family: 'malgun gothic';
}

.detailSelect {
	width: 156px;
	background-repeat: no-repeat;
	background-position: 132px 50%;
	background-image: url('../img/select-arrow.png');
	margin-right: 10px;
}

.detailSelect.bigger {
	width: 200px;
	background-position-x: 176px;
}

.detailSelect.smaller {
	width: 110px;
	background-position-x: 85px;
	margin-right: 0px;
}

/* 게시글 페이지 전환 버튼 */
#viewPaging {
	margin-top: 15px;
}

#viewPaging a {
	display: inline-block;
	background-repeat: no-repeat;
	line-height: 15px;
	font-size: 13px;
	color: #a8a8a8;
	background-position-y: 50%;
}

#viewPaging a.viewPrevBtn {
	padding-left: 20px;
	background-image: url('../img/paging-prev.png');
	background-position-x: 0
}

#viewPaging a.viewNextBtn {
	padding-right: 20px;
	background-image: url('../img/paging-next.png');
	background-position-x: 100%;
}

/*** 페이징 ***/
#pagingWrap {
	position: relative;
	margin-top: 20px;
	text-align: center;
}

#pagingWrap>a, #paging {
	display: inline-block;
	vertical-align: middle;
}

#pagingWrap>a {
	margin: 0px 3px;
}

#paging {
	margin: 0px 15px;
}

#paging a {
	display: block;
	position: relative;
	margin: 0px 10px;
	line-height: 28px;
	box-sizing: border-box;
	font-size: 15px;
	color: #a8a8a8;
	transition: all .2s;
}

#paging a:after {
	content: '';
	display: block;
	position: absolute;
	left: 0px;
	bottom: -1px;
	width: 100%;
	height: 1px;
	background: #1C6931;
	opacity: 0;
	transition: all .2s;
}

#paging .active a, #paging a:hover {
	color: #1C6931;
}

#paging .active a:after, #paging a:hover:after {
	opacity: 1;
}